.cocktails {
  display: flex;
  flex-direction: column;

  &__options {
    display: flex;
    gap: 12px;
    margin: 12px;

    &__description {
      margin: 0;
    }
  }

  &__more {
    align-self: center;
    background-color: burlywood;
    width: 20%;
  }
}
